//prime colors
$color-prime-60: hsl(0, 0%, 95%);
$color-prime-30: hsl(0, 0%, 22%);
$color-prime-10: hsl(104, 50%, 50%);

//accent colors
$color-accent-60: hsl(0, 0%, 85%);
$color-accent-30: hsl(0, 0%, 15%);
$color-accent-10: hsl(104, 30%, 50%);